{% extends "base.html" %}
        
    {% block content %}
    <div class="div-logo"></div> 
    <div class="row">
        <div class="col m-2">
            <p>Somos un distribuidor de productos ubicado en la Región de Valparaí­so, con tiendas en:</p>
            <ul class="list-group">
                <li class="list-group-item">Valparaí­so</li>
                <li class="list-group-item">Viña del Mar</li>
                <li class="list-group-item">Quillota</li>
                <li class="list-group-item">San Antonio</li>
                <li class="list-group-item">Quintero</li>
                <li class="list-group-item">San Felipe</li>
                <li class="list-group-item">Los Andes</li>
            </ul>
        </div>
        <div class="col m-2">
            <h3>Casa Matriz:</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3344.3605472217027!2d-71.60724992340018!3d-33.04697347696446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzPCsDAyJzQ5LjEiUyA3McKwMzYnMTYuOCJX!5e0!3m2!1ses-419!2scl!4v1686061370118!5m2!1ses-419!2scl" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Teléfono:</th>
                        <td><a href="tel:326586859">32 658 6859</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Email:</th>
                        <td><a href="mailto:ventas@telovendo.com">ventas@telovendo.com</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
    {% endblock %}
