{% extends "components/base_internal_part.html" %}

{% block content %}

    <div class="mb-5" style="color: #ce0000">
        <h1><i class="fa-solid fa-circle-xmark"></i> Acceso prohibido</h1>
    </div>

    <div class="mb-5" style="color: #ce0000">
        <p>No tiene permisos para entrar a esta pagina, intente acceder a otra pagina.</p>
    </div>

    <div class="mb-5">
        <p><a href="{% url 'internal' %}" class="btn btn-outline-danger"><i class="fa-solid fa-arrow-left"></i> Volver al inicio</a></p>
    </div>
    <p></p>


{% endblock %}