{% extends "components/base_internal_part.html" %}

{% block content %}


<div class="d-flex justify-content-center m-4">
{% if mensajes and mensajes.enviado %}
    <div class="alert alert-success mt-3" role="alert">
        {{ mensajes.resultado }}
    </div>
{% endif %}
{% if mensajes and not mensajes.enviado %}
    <div class="alert alert-danger mt-3" role="alert">
        <h5>Errores en los siguientes campos:</h5>
        {{ mensajes.resultado }}
    </div>
{% endif %}
</div>
<div class="d-flex justify-content-center m-4">
    <form id="formEditarProducto" method="post" action="{% url 'agregar_producto' %} " enctype="multipart/form-data">
        {% csrf_token %}
        {% for campo in form %}
        <div class="row">
            <div class="col-4 mb-3 fw-bold"><label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label></div>
            <div class="col-8">
                {{ campo }} 
                {% if campo.help_text %}
                <div class="form-text">{{ campo.help_text }}</div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="modal-footer d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary">Añadir Producto</button>
        </div>
    </form>
</div>
{% endblock %}