{% extends "components/base_internal_part.html" %}

{% block content %}

Este es el paso dos para la orden

<!-- Aquí va el formulario para agregar productos al detalle (el modelo Detalles_Pedidos) -->

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary mt-3">Continua con la creación del pedido</button>
</form>

<!-- Aqui va el listado de productos en la orden-->

{% include 'components/internal_pedido_detalle_part.html' %}


{% if total_pedido != None %}
    <h5 class="mt-3 mb-3">Total del pedido : ${{total_pedido}}</h5>
{% endif%}

{% endblock %}