{% extends "components/base_internal_part.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="text-center mt-5">{{title}}</h1>
    </div>
</div>

<div class="d-flex justify-content-center m-4">
{% if mensajes and mensajes.enviado %}
    <div class="alert alert-success mt-3" role="alert">
        {{ mensajes.resultado }}
    </div>
{% endif %}
{% if mensajes and not mensajes.enviado %}
    <div class="alert alert-danger mt-3" role="alert">
        <h5>Errores en los siguientes campos:</h5>
        {{ mensajes.resultado }}
    </div>
{% endif %}
</div>

    <p>¿Estás seguro de que deseas eliminar el producto "{{ object.nombre }}"?</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Eliminar" class="btn btn-danger">
        <a href="{% url 'productos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
