{% extends "components/base_internal_part.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <h4>Estado actual del pedido:</h4>
            </div>
            <div class="col-sm-12 col-lg-6">
                {% if pedido.idEstado_id   == 1 %} <!-- 1: En preparación -->
                    <p class="btn btn-primary">{{ pedido.idEstado }}</p>
                {% elif pedido.idEstado_id == 2 %} <!-- 2: Pendiente -->
                    <p class="btn btn-warning">{{ pedido.idEstado }}</p>
                {% elif pedido.idEstado_id == 3 %} <!-- 3: En despacho -->
                    <p class="btn btn-info">{{ pedido.idEstado }}</p>
                {% elif pedido.idEstado_id == 4 %} <!-- 4: Entregado -->
                    <p class="btn btn-success">{{ pedido.idEstado }}</p>
                {% elif pedido.idEstado_id == 5 %} <!-- 5: Cancelado -->
                    <p class="btn btn-secondary">{{ pedido.idEstado }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        {% if pedido.idEstado_id != 5 %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Actualizar estado de pedido</button> <a href="{{ vuelve_atras }}"><button type="submit" class="btn btn-primary mt-3">Volver atrás</button></a>
        </form>
            {% else %}
                <h5>Esta orden esta cancelada, por lo que ya no se puede modificar su estado.</h5>
                <a href="{{ vuelve_atras }}"><button type="submit" class="btn btn-primary mt-3">Volver atrás</button></a>
            {% endif %}
    </div>
</div>

{% endblock %}