.navbar-login { 
    background-color: #4570fd;
    color: White;
}

.navbar-internal { 
    background-color: #4a2097;
    color: White;
}

.footer-login{
    background-color: #4570fd;
    text-align: center;
    font-weight: bold;
    color: White;
}

.footer-internal { 
    background-color: #4a2097;
    text-align: center;
    font-weight: bold;
    color: White;
}


.div-logo{
    width: 205px;
    height: 205px;
    background-image: url("/static/images/logo.png");
    margin: 0 auto;
}

.logo-navbar{
    width: 30px;
    height: 30px;
}

.logo-footer{
    width: 50px;
    height: 50px;
}